.repository-item {

  min-width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;

  .card {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin: auto;
    transition: 0.3s;
    min-height: 270px;
    border-radius: 0.625rem!important;
    box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
    &:hover {
      box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
    }
  }

  .title{
    textDecoration: "none";

    &:active {
      color: #00008E;
    }
  }

  .cardContent {
    min-height: 120px;
  }

  .cardActions {
    padding: 16px;
  }

  .avatar {
    color: #fff;
  }

  .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

}