.header {
  width: 100%;

  .grow {
    flex-grow: 0.5;
  }

  .title {
    display: none;
    padding-left: 2rem;

    @media (min-width: 600px) {
      display: block;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    .navButton {
      text-decoration: none;
      color: white;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &.activeLink {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  .search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    width: 100%;

    @media (min-width: 600px) {
      margin-left: 24px;
      width: auto;
    }
  }

  .searchIcon {
    width: 48px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputRoot {
    color: inherit;
    width: 100%;
  }

  .inputInput {
    padding: 12px 48px 12px 16px;
    width: 100%;
    transition: width 0.3s ease;

    @media (min-width: 600px) {
      width: 120px;

      &:focus {
        width: 200px;
      }
    }
  }
}